@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  padding-left: 0;
  padding-right: 0;
  min-height: 100vh;
  background: #ced8ff;
  transition: 0.5s;
}

.container .dark {
  background: black;
}
